<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="onmu_mobile"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Android process가 시작되자마자 이 Activity에 적용할 Android theme를 지정합니다.
                 Flutter UI가 초기화되는 동안 사용자에게 보이며, 이후에도 Flutter UI 뒤의 Window background를 결정합니다. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="io.onieum.onmu"
                    android:host="oauth"
                    android:pathPrefix="/naver/callback"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data
                    android:scheme="io.onieum.onmu"
                    android:host="oauth"
                    android:pathPrefix="/kakao/callback"/>
            </intent-filter>
        </activity>
        <!-- 아래 meta-data는 삭제하지 않습니다.
             Flutter tool이 GeneratedPluginRegistrant.java를 생성할 때 사용합니다. -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- text를 처리할 수 있는 activity를 query하기 위해 필요합니다. 참고:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         특히 Flutter engine의 io.flutter.plugin.text.ProcessTextPlugin에서 사용합니다. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
