// Runner target의 application-level 설정입니다.
//
// 향후 pubspec.yaml 같은 metadata에서 자동 생성된 값으로 대체될 수 있습니다.
// 대체되지 않으면 이 값들은 'flutter create' template에서 project name을 기본값으로 사용합니다.

// application 이름입니다. 기본적으로 Flutter window title로도 사용됩니다.
PRODUCT_NAME = onmu_mobile

// application bundle identifier입니다.
PRODUCT_BUNDLE_IDENTIFIER = io.onieum.onmuMobile

// application 정보에 표시되는 copyright입니다.
PRODUCT_COPYRIGHT = Copyright © 2026 io.onieum. All rights reserved.
