# 기타
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ 관련
*.iml
*.ipr
*.iws
.idea/

# .vscode 폴더에는 VS Code에서 설정한 실행 구성과 작업이 들어갑니다.
# 버전 관리에 포함하고 싶을 수 있으므로 기본값으로 주석 처리합니다.
#.vscode/

# Flutter/Dart/Pub 관련
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

# 심볼 처리 관련
app.*.symbols

# 난독화 관련
app.*.map.json

# Android Studio 빌드 산출물 위치
/android/app/debug
/android/app/profile
/android/app/release
